.pag {
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 13px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.pag  a {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}

.pag a:hover {
	background:#4CCFC1;
	color:#fff;
}

.active a {
        background:#4CCFC1;
	color:#fff;
}
